html, body {
  font-family: 'Montserrat',sans-serif;
  overflow-x: hidden; }

*, *:hover, *:focus, *:active {
  outline: none !important; }

img {
  max-width: 100%; }

.m0 {
  margin: 0 !important; }

.float-r {
  float: right; }

.main_header {
  padding: 20px 0;
  background: url(./img/head-back.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  min-height: 760px;
  margin-bottom: 50px; }
  .main_header h1 {
    margin-top: 15%;
    font-size: 305%; }

.main_header p {
  margin-top: 5%;
  font-size: 18px; }

.flex {
  display: flex; }

.flex-wrap {
  display: flex;
  flex-wrap: wrap; }

.flex-column {
  display: flex;
  flex-direction: column; }

.jcc {
  justify-content: center; }

.aic {
  align-items: center; }

.beta-form {
  margin-top: 5%;
  padding: 20px 40px;
  border-radius: 50px;
  border: 2px solid #fff;
  background: #fff;
  color: #2c40c8;
  font-size: 16px;
  box-shadow: 2px 5px 13px #0000007a;
  transition: .2s; }

.beta-form:hover {
  box-shadow: none;
  background: transparent;
  color: #fff; }

.h2 {
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #000; }

section {
  margin-bottom: 50px; }

.about-block {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about-block .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0;
    min-height: 149px;
    position: relative; }
  .about-block img {
    width: 50%; }

.about-block:nth-child(2) .about-text {
  border: 2px solid #2b9bc9;
  color: #2b9bc9; }

.about-block:nth-child(3) .about-text {
  border: 2px solid #57b772;
  color: #57b772; }

.about-block:nth-child(4) .about-text {
  border: 2px solid #225fd1;
  color: #225fd1; }

.about-text:before {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-left: none;
  border-bottom: none;
  background: white;
  transform: rotate(-45deg);
  top: -9px; }

.about-text .header-about {
  font-size: 18px;
  margin-bottom: 10px; }

.about-text .description-about {
  color: #424242; }

.sub {
  padding: 50px 0;
  background: linear-gradient(to right top, #34e29c 0, #2b9cca 25%, #2e6cb4 75%, #3b3896 100%); }
  .sub .h2 {
    color: #fff; }

.input-email {
  position: relative;
  height: 24px;
  margin-bottom: 20px;
  width: 100%; }
  .input-email input[type="email"] {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #34e19c;
    margin-bottom: 20px;
    z-index: 3;
    position: absolute;
    color: white;
    padding: 5px 20px; }
  .input-email label.place.fixed-label {
    top: -25px;
    color: #fff; }
  .input-email label.place {
    color: #ffffffad;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    transition: .2s; }

.sub-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sub-form .input-email {
    width: 300px; }
  .sub-form input[type="submit"] {
    background: #00dab9;
    border: 2px solid #00dab9;
    border-radius: 50px;
    color: #fff;
    padding: 15px 50px;
    width: fit-content;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: 2px 5px 13px #0000007a;
    transition: .2s; }
  .sub-form input[type="submit"]:hover {
    box-shadow: none;
    background: transparent; }

.team .team-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; }
  .team .team-block .team-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }

.team img {
  width: 50%;
  border-radius: 50%; }

.team .header-team {
  font-size: 18px;
  font-weight: bold; }

.team .description-team {
  font-size: 12px; }

footer {
  padding: 120px 0 0 10px;
  background: url(./img/footer.png) no-repeat top center;
  background-size: cover;
  color: #fff; }
  footer .h2 {
    font-size: 39px;
    color: #fff; }

.copyr {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
  flex-wrap: wrap;
  color: #ffffff;
  opacity: 0.8; }
  .copyr a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer; }

.form-beta {
  display: none;
  background: #2c40c8;
  padding: 50px 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: scroll; }
  .form-beta .h2 {
    color: #fff; }

.form-beta > div {
  position: relative; }

.get-beta {
  justify-content: flex-end; }
  .get-beta input[type="text"], .get-beta input[type="email"], .get-beta .get-beta .like-select, .get-beta .get-beta textarea {
    width: 100%;
    background: #4253ce;
    height: 45px;
    border: none;
    margin-bottom: 20px;
    padding: 5px 20px;
    font-size: 16px;
    color: #fff;
    position: relative; }
  .get-beta textarea {
    overflow: hidden;
    resize: vertical;
    height: calc(100% - 20px);
    padding: 10px 20px; }
  .get-beta select {
    opacity: 0;
    background-image: url(./img/angle.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y: center;
    background-size: 15px; }

.get-beta
.get-beta
.get-beta
.select-holder {
  position: relative;
  margin: 0; }
  .get-beta
.get-beta
.get-beta
.select-holder .like-select {
    background: #4253ce;
    width: 100%;
    height: calc(100% - 20px);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: normal;
    z-index: 0;
    background-image: url(./img/angle.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y: center;
    background-size: 15px;
    color: #ffffff7a; }

::placeholder {
  color: #ffffff7a;
  opacity: 1; }

:-ms-input-placeholder {
  color: #ffffff7a; }

::-ms-input-placeholder {
  color: #ffffff7a; }

.drop-option {
  position: absolute;
  top: 42px;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  display: none; }

.like-option {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #5666d3;
  border-top: 1px solid #8590e0;
  width: 100%;
  display: block;
  cursor: pointer; }

.like-option:hover {
  background: #6776d7; }

.close-form {
  background-image: url(./img/close.png);
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5%;
  top: -20px;
  width: 25px;
  height: 25px;
  z-index: 3;
  padding: 0;
  background-size: contain; }

.drop-option.droping {
  display: block; }

.like-select.open-select {
  color: #fff;
  background-color: #6776d7; }

.like-select.user-select {
  color: #fff; }

.success {
  display: none; }

.success p:last-child {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 5%;
  float: left; }
